{% extends 'advisor_base_site.html'%}
{% block title%}Crop Production List | AgriTech{% endblock %}

{% block content %}
{% load static %}
{% load widget_tweaks %}

<div class="card" style="margin-left: 10%;  margin-right: 40%; margin-top: 3%">
    <div class="card-header" style="font-size: 18px;"> 
        <strong>{{'crop Production list'|upper}}</strong> 
        <ul class="object-tools" style="position: absolute;top: 60px; right: 15px;">
           <li> <a href="{% url 'add_crop_production' %}" class = "addlink">Add Crop Production</a></li>
       </ul>
    </div>
 
    <table >
        <thead class="table-info">
            <tr>
                <th ><strong>No.</strong></th>
                <th ><strong>Farmer</strong></th>
                <th ><strong>Crop</strong></th>
                <th ><strong>Quantity</strong></th>
                <th ><strong>Date</strong></th>
            
            
            </tr>
        </thead>
        {% for i in crop %}
            <tr>
                <td >{{forloop.counter}}</td>
                <td ><a href="{% url 'edit_crop_production' i.id %}" style="text-decoration: none;">{{i.farmer}} </a></td>
                <td >{{i.crop}}</td>
                <td >{{i.quantity}}</td>
                <td >{{i.date}}</td>
                
            </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}

   
