{% extends "federal_base_site.html" %}
{% block title%}Select Contest | Andalus{% endblock %}

{% block content %}
{% load static %}
{% load widget_tweaks %}


<div class="card" style="margin-left: 5%;  margin-right: 50%;margin-top:2%;%" >
    <div class="card-header titles" style="font-size: 18px;" > 
	    <strong>SELECT REGION</strong> 
        <ul class="object-tools" style="position: absolute;top: 60px; right: 15px;">
           <li> </li>
       </ul>    
    <table class="table table-striped" >
        <thead class="table-info">
            <tr>
                <th ><strong>Name</strong></th>

            </tr>
        </thead>
        {% for i in region %}
            <tr>
                <td ><a href="{% url 'region_stats' i.id %}" style="text-decoration: none;">{{i.name}}</a></td>
                
            </tr>
  
        {% endfor %}
        <tr>
        <td ><a href="{% url 'region_stats'  0 %}" style="text-decoration: none; color:green;"><strong>All Region</strong></a></td>
        </tr>
    </table>

</div>


{% endblock %}
